

.wrapper input{
  display: inline;
  background-color: #ff7676;
  color: #ffff;
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 38px;
}
.wrapper button{
  margin-left: 25px;
  background-color: #f5f5f5;
  border: none;
  color: #ff7676;
  font-size: 19px;
  font-weight: bold;
  width: 90px;
  height: 38px;

}
.wrapper button:hover{
  background-color: #ffa9a9;
  color: #ffff;
  width: 94px;
  height: 52px;
  border-radius: 5px;
  font-size: 22px;
  transition: 0.1s;
  cursor: pointer;
}